@using Skoruba.IdentityServer4.STS.Identity.Configuration.Interfaces
@inject IRootConfiguration RootConfiguration

@if (RootConfiguration.CaptchaConfiguration.Provider == "GoogleReCaptchaV2")
{
  <div class="g-recaptcha" data-sitekey="@RootConfiguration.CaptchaConfiguration.SiteKey" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpired"></div>
}