@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}
<main>
    <section class="labsoft-forgotPassword-imageWrapper"></section>
    <img src="../../images/labsoft-logo.svg" class="labsoft-forgotPassword-logo" alt="Labsoft logo">
    <div class="labsoft-forgotPassword-title-and-subtitle">
        <h1>@ViewData["Title"]</h1>
    </div>
    <section class="labsoft-forgotPassword-section-container">
        <span style="text-align: center">
            @Localizer["CheckEmailMessage"] <i class="fa fa-check" style="color: green"></i>
        </span>
    </section>
</main>

